.user-section {
  padding-left: 300px;
  @include media(1184){
    padding-left: 0;
  }
  .ant-btn {
    @include adaptive-value('margin-left', 50, 10, 1);
    padding: 8px 20px;
    height: unset;

    @include media(1184){
      float: right;
      @include adaptive-value('margin-right', 50, 10, 1);
    }
  }
}

.ant-table-thead {
  tr {
    .ant-table-cell {
      width: 30%;
    }
  }
}

.partner-add{
  .ant-modal-footer{
    display: none;
  }

  .ant-col-offset-8{
    margin-inline-start: 40%;
  }
}

.viewDrawer{
  .ant-drawer-body{
    padding: 14px !important;
  }
}
